nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: $spacing-sm;

    .nav-links{
        margin: 0;

        li{
            margin: 0;
        }
    }
}